
.pic{
    margin-top: 3rem;
    margin-left: 25rem;
}

.card{
    margin-top: 5rem;
    margin-left: 30rem;
}

#create{
    margin-left: 34rem;
}
.footer{
    margin-left: 31rem;
}

#bot{
    text-decoration: none;
}
.test{
    margin-left: 37rem;
}